<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrousel 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    
    <section class="carrousel">
        <div class="carrousel__container">
            <div class="carrousel-item">
                <img src="https://media.wired.com/photos/5dcd7e84a14c980008129bb5/1:1/w_468,h_468,c_limit/Culture_Monitor_TheWitcher2.jpg" alt="The Witcher" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>
            
            <div class="carrousel-item">
                <img src="https://www.lavanguardia.com/r/GODO/LV/p7/WebSite/2020/07/27/Recortada/img_psola_20191220-091814_imagenes_lv_terceros_thewitcher_101_unit_08529_rtpkej748hf-ktKD-U482551553415ckE-992x558@LaVanguardia-Web.jpg" alt="" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img src="https://e.rpp-noticias.io/xlarge/2020/01/22/890576the-witcher-henry-cavill3jpg.jpg" alt="" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img src="https://miro.medium.com/max/3000/1*u4l3on17TnMXIvBpiMJwDw.jpeg" alt="" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img src="https://www.eltime.es/images02/cine/thewitcher/The_witcher_opinion_alberto_2.png" alt="" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img src="https://pyxis.nymag.com/v1/imgs/84b/2cb/660b5ac7fe35e4f8f9493bbc29d5bd9a26-the-witcher-ep-05.rsquare.w1200.jpg" alt="" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>

            <div class="carrousel-item">
                <img src="https://www.muycomputer.com/wp-content/uploads/2020/07/Precuela-The-Witcher-Netflix-e1595917067237.jpg" alt="" class="carrousel-item__img">
                <div class="carrousel-item__details">
                    <div>
                        <img src="../assets/icons8-usuario-48.png" alt="Play" class ="carrousel-item__play">
                        <img src="../assets/plus-icon.png" alt="Plus" class ="carrousel-item__plus">
                    </div>
                    <p class="carrousel-item__title">Título descriptivo</p>
                    <p class="carrousel-item__subtitle">2020 16+ 114 minutos</p>
                </div>
            </div>



        </div>

    </section>
    
</body>
</html>